body{
  margin: 0 !important;
  transition: background-color .5s;
}

html { scroll-behavior: smooth; }

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.sidenav{
  width: 350px;
  height: 100vh;
  background-color: #f5f5f5;
  align-content: center;
  text-align: center;
  overflow-y: auto;
}

.sidenav img{
  width: 150px;
  height: 150px;
  margin-bottom: 25px;
  margin-top: 50px;
  border-radius: 90px;
}

.name{
  font-family: Cambria, serif;
  font-weight: bold;
  font-size: 28px;
}

.title{
  color: #08c1f8;
}

.sidenav ul{
  padding-left: 0 !important;
}

.sidenav ul li{
  list-style: none;
  padding-left: 0 !important;
}

.active{
  color: #0fa5d2 !important;
  text-decoration: underline !important;
}

.sidenav a{
  text-decoration: none;
  color: gray;
}

.main{
  padding: 0 20px 25px 20px;
}

.main .home{
  padding-top: 25px;
  height: 500px;
}

.main .about{
  height: 500px;
}

.main .experience{
  height: 500px;
}



.sidenav {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav .btn-close {
  position: absolute;
  top: 0;
  right: 20px;
  margin-left: 0;
  line-height: 60px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-size:50px; cursor:pointer;
}

.main {
  font-size: 36px;
  transition: margin-left .5s;
  margin-left: 350px;
}
.main .btn-open {
  display: none;
  position: fixed;
  top: 20px;
  left: 30px;
  line-height: 55px;
  color: #ffffff;
  background-color: #737171;
  opacity: 0.5;
  border-radius: 360px;
  width: 50px;
  height: 50px;
  text-align: center;
  align-items: center;
  transition: 0.3s;
  font-size:25px; cursor:pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 560px) {
  .sidenav{
    width: 0;
  }
  .main{
    margin-left: 0;
  }
  .btn-open{
    display: inline !important;
  }

}

.scroll-top{
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 360px;
  text-align: center;
  color: #ffffff;
  background-color: #737171;
  opacity: 0.5;
  right: 20px;
  bottom: 20px;
  font-size: 25px;
  cursor: pointer;
  line-height: 45px;
}
