body{
  margin: 0 !important;
}

html { scroll-behavior: smooth; }

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.left{
  width: 350px;
  height: 100vh;
  background-color: #f5f5f5;
  align-content: center;
  text-align: center;
  /*position: fixed;*/
  overflow-y: auto;
}

.left img{
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  margin-top: 50px;
  border-radius: 90px;
}

.name{
  font-family: Cambria, serif;
  font-weight: bold;
  font-size: 28px;
}

.title{
  color: #08c1f8;
}

.left ul li{
  list-style: none;
}

.left ul li a{
  text-decoration: none;
  color: gray;
}

.left ul li a:active, a:current {
  color: #0fa5d2;
}

.right{
  width: 100%;
  background-color: #ffffff !important;
}

.right .home{
  height: 500px;
  background-color: rebeccapurple;
}

.right .about{
  height: 500px;
  background-color: navy;
}

.right .experience{
  height: 500px;
  background-color: red;
}





body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-size:50px; cursor:pointer;
}

#main {
  font-size: 36px;
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 350px;
}

#btnOpen{
  display: none;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 560px) {
  .sidenav{
    width: 0;
  }
  #main{
    margin-left: 0;
  }
  #btnOpen{
    display: inline;
  }

}

.yo{
  position: fixed;
  width: 30px;
  height: 30px;
  background: gray;
  opacity: 90%;
  right: 20px;
  bottom: 20px;
}
